<video id="background-video" src="assets/videos/videologin.mp4" autoplay loop></video>
    <div class="contenido">
        <img class="logo" src="assets/img/Asofty.png" alt="Logo Asofty">
        <form action="#" method="post" class="formlogin">  
            <label for="CompanyCode">NIT Empresa*</label>
            <input class="nit" type="number" name="CompanyCode" placeholder="NIT Empresa" required>
            <label for="Username">Identificación*</label>
            <input class="Username" type="text" name="Username" placeholder="Identificación" required>
            <label for="Password">Contraseña*</label>
            <input class="password" type="Password" name="Password" placeholder="Contraseña" required>
            <input class="ingresar" type="submit" value="Ingresar">
        </form>
    </div>
    <div class="recuperar">
        <a href="#">¿Olvido su contraseña?</a>
    </div>
