\BackEnd\AsoftyBackend\AsoftyBackend.Api\Bin\
\BackEnd\AsoftyBackend\AsoftyBackend.Api\obj\
\BackEnd\AsoftyBackend\AsoftyBackend.Infrastructure\Bin\
\BackEnd\AsoftyBackend\AsoftyBackend.Infrastructure\obj\