*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* fonto responsive de video */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
label{
    color: #EEE8E1;
    padding: 20px;
    
}
input{
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    padding: 10px 40px 10px 20px;
}
.ingresar{
    background-color: #004E8B;
    color: #FFFFFF;
    cursor:pointer;
}
.recuperar a{
    text-decoration: none !important;
    color: #FFFFFF;
    cursor:pointer;
}
.formlogin label{
    color: #3D3A36;
    margin: 0px 0px 40px 0px;
    font-weight: bold;
}
    .contenido{
        width: 18%;
        margin-top: 10%;
        margin-left: 40%;
        border-radius: 30px;
        align-items: center !important;
        padding: 0px 0px 5px 0px;
        border: solid;
        border-color: #FFFFFF;
        background-color: rgba(246, 246, 248, 0.6)
        
    }
    .logo{
        width: 70%;
        align-items: center;
        margin: 0%;
        border-radius: 26px 26px 5% 5%;
        padding: 20% 15% 7% 15%;
        background-color: #FFFFFF;
    }
    .formlogin{
        margin-top: 15px;
        padding: 0px 0px 0px 0px;
        border: none !important;
    }
    .ingresar{
        margin: 5% 20% 5% 20%;
        padding:  3% 20% 2% 20%;
        font-size: 16px;
        border-radius: 8px;
        border: none !important;
    }
    .recuperar a{
        margin-top: 10px;
        margin-left: 44%;
        padding: 0px;
        font-size: 18px;
    }
    .nit{
        width: 55%;
        margin-right: 30%;
        margin-left: 5%;
        background-image: url(../iconos/office.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 98% center;
        padding-right: 30%;
        border: none !important;
        border-radius: 8px;
    }
    .Username{
        width: 55%;
        margin-right: 30%;
        margin-left: 5%;
        background-image: url(../iconos/user.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 98% center;
        padding-right: 30%;
        border: none !important;
        border-radius: 8px;
    }
    .password{
        width: 55%;
        margin-right: 30%;
        margin-left: 5%;
        background-image: url(../iconos/lock.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 98% center;    
        padding-right: 30%;
        border: none !important;
        border-radius: 8px;
    }
    label{
        margin-top: 40px;
    }