*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* fonto responsive de video */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
label{
    color: #EEE8E1;
    padding: 20px;
    
}
input{
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    padding: 10px 40px 10px 20px;
}
.ingresar{
    background-color: #004E8B;
    color: #FFFFFF;
    cursor:pointer;
}
.recuperar a{
    text-decoration: none !important;
    color: #FFFFFF;
    cursor:pointer;
}
.formlogin label{
    color: #3D3A36;
    margin: 0px 0px 40px 0px;
    font-weight: bold;
}
/* medida para ceular */
@media only screen and (max-width: 600px){
    .contenido{
        border-radius: 30px;
        align-items: center;
        margin: 180px 30px 20px 30px;
        padding: 50px 10px 20px 10px;
        background-color: rgba(246, 246, 248, 0.6)
        
    }
    .logo{
        width: 230px;
        padding: 0px 0px 50px 43px;
    }
    .formlogin{
        padding: 0px 0px 0px 0px;
        border: none !important;
    }
    .ingresar{
        margin: 30px 30px 20px 53px;
        padding: 10px 70px 10px 70px;
        font-size: 16px;
        border-radius: 8px;
        border: none !important;
    }
    .recuperar a{
        margin-left: 80px;
        padding: 10px 0px 0px 20px;
        font-size: 18px;
    }
    .nit{
        background-image: url(../../login/iconos/office.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 16rem center;
        padding: 10px 120px 10px 8px;
        margin: 5px 0px 10px 10px;
        border: none !important;
        border-radius: 8px;
    }
    .identificacion{
        background-image: url(../../login/iconos/user.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 16rem center;
        padding: 10px 120px 10px 8px;
        margin: 5px 0px 10px 10px;
        border: none !important;
        border-radius: 8px;
    }
    .password{
        background-image: url(../../login/iconos/lock.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 16rem center;
        padding: 10px 120px 10px 8px;
        margin: 5px 0px 10px 10px;
        border: none !important;
        border-radius: 8px;
    }
    label{
        margin-top: 40px;
    }
}
@media only screen and (min-width: 1200px){
    .contenido{
        border-radius: 20px;
        align-items: center;
        margin: 200px 720px 200px 720px;
        padding: 100px 100px 100px 100px;
        background-color: rgba(95, 95, 100, 0.4)
        
    }
    .logo{
        width: 250px;
        padding: 0px 0px 20px 53px;
    }
    .formlogin{
        padding: 0px 0px 0px 0px;
        border: none !important;
    }
    .ingresar{
        align-items: center;
        margin: 15px 0px 0px 50px;
        font-family: 'Roboto', sans-serif;
    }
}
@media only screen and (min-width: 992px){
    .contenido{
        border-radius: 20px;
        align-items: center;
        margin: 170px 750px 50px 750px;
        padding: 100px 30px 30px 30px;
        background-color: rgba(246, 246, 248, 0.6)
        
    }
    .logo{
        width: 250px;
        padding: 0px 0px 20px 30px;
    }
    .formlogin{
        padding: 0px 0px 20px 0px;
        margin-bottom: 20px;
    }
    .formlogin{
        padding: 0px 0px 0px 0px;
        border: none !important;
    }
    .ingresar{
        margin: 30px 30px 20px 53px;
        padding: 10px 70px 10px 70px;
        font-size: 16px;
        border-radius: 8px;
        border: none !important;
    }
    .recuperar a{
        margin-left: 830px;
        margin-top: 10px;
        padding: 20px 0px 0px 20px;
        font-size: 18px;
    }
    .nit{
        background-image: url(../../login/iconos/office.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 20rem center;
        padding: 10px 180px 10px 8px;
        margin: 5px 0px 10px 10px;
        border: none !important;
        border-radius: 8px;
    }
    .identificacion{
        background-image: url(../../login/iconos/user.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 20rem center;
        padding: 10px 180px 10px 8px;
        margin: 5px 0px 10px 10px;
        border: none !important;
        border-radius: 8px;
    }
    .password{
        background-image: url(../../login/iconos/lock.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 20rem center;
        padding: 10px 180px 10px 8px;
        margin: 5px 0px 10px 10px;
        border: none !important;
        border-radius: 8px;
    }
    label{
        margin-top: 40px;
    }
}